# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
/go-cxp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Test artifacts
testdata/
*.cxf

# SPEC
spec/
